SoftwareHub.csproj.nuget.g.props
SoftwareHub.csproj.nuget.dgspec.json
project.nuget.cache
project.assets.json
SoftwareHub.csprojAssemblyReference.cache
.suo
*.v2
SoftwareHub/.vs/SoftwareHub/v16/.suo
SoftwareHub/.vs/SoftwareHub/v16/.suo
*.cache
SoftwareHub/SoftwareHub/SoftwareHub.csproj.user
SoftwareHub/SoftwareHub/obj/Debug/netcoreapp3.1/SoftwareHub.csprojAssemblyReference.cache
SoftwareHub/.vs/SoftwareHub/v16/.suo
SoftwareHub/.vs/SoftwareHub/v16/.suo
SoftwareHub/SoftwareHub/obj/Debug/netcoreapp3.1/SoftwareHub.csprojAssemblyReference.cache
SoftwareHub/.vs/SoftwareHub/v16/.suo
SoftwareHub/.vs/SoftwareHub/v16/.suo
*.cache
SoftwareHub/SoftwareHub/obj/project.assets.json
SoftwareHub/SoftwareHub/obj/Release/netcoreapp3.1/SoftwareHub.RazorAssemblyInfo.cs
SoftwareHub/SoftwareHub/obj/Release/netcoreapp3.1/SoftwareHub.AssemblyInfo.cs
SoftwareHub/SoftwareHub/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SoftwareHub/.vs/slnx.sqlite
SoftwareHub/.vs/ProjectSettings.json
SoftwareHub/SoftwareHub/obj/Debug/netcoreapp3.1/SoftwareHub.assets.cache
SoftwareHub/.vs/SoftwareHub/v16/.suo
