
*.cache
SoftwareHub/SoftwareHub/obj/Release/netcoreapp3.1/SoftwareHub.RazorAssemblyInfo.cs
SoftwareHub/SoftwareHub/obj/Release/netcoreapp3.1/SoftwareHub.AssemblyInfo.cs
SoftwareHub/SoftwareHub/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SoftwareHub/.vs/ProjectSettings.json
SoftwareHub/.vs/slnx.sqlite
SoftwareHub/.vs/SoftwareHub/v16/.suo
