@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SoftwareHub.Models.NewUserClass;
@{
    Layout = "~/Views/Shared/_AdminLogin.cshtml";
}

<body>
    <div id="header">
        <!-- container -->
        <div class="container" style="background-color:black;border-bottom:5px solid red">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img style="height:50px;width:150px;margin-top:15px" src="~/img/logo.png" alt="logo" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <!-- container -->
        <form asp-action="AdminHome">
            <div class="imgcontainer" style="float:inline-start">
                <img src="/img/adminavatar.png" alt="Avatar" class="avatar">
            </div>

            <div class="loginclass">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Login</button>


                <!-- /container -->
            </div>
        </form>
    </div>
</body>