
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_UserLogin.cshtml";
}


<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Epsilon</h3>
                <hr/>
                <p style="text-align:justify;">
                    <i>
                        Epsilon is an all-encompassing global marketing company, a leader in creating connections between people and brands. We find, acquire and retain customers for brands around the world.
                        We are the first of a new breed, harnessing rich data, groundbreaking technologies, engaging creative and transformative ideas to get the results our clients require.
                    </i>
                </p>
                <p style="text-align:justify;">
                    <i>
                        We employ over 7000 associates in 70 offices worldwide and are recognized by Ad Age as the #1 World Largest CRM/Direct Marketing Network, and the #1 US Agency from All Disciplines.
                        Epsilon was named as a Leader in the July 2014 report "The Forrester Wave™: Email Marketing Vendors, Q3 2014" by Forrester Research Inc. In this evaluation, Forrester refers to Epsilon as "a professional services powerhouse," and scored Epsilon highest in the Services and Strength of Management Team categories. The report also cites Epsilon as "…the best operations, technology and strategy and analytics services [provider] we reviewed."
                    </i>
                </p>
                <p style="text-align:justify;">
                    <i>
                        Further, Forrester Research named Epsilon as a Leader in their Database Marketing Service Provider Wave report released the first quarter of 2011, the latest iteration of this report. Epsilon was also named as Leader I
                    </i>
                </p>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
}

